<div class="clock">
    <div class="outer-clock-face">
        <div class="marking marking-one"></div>
        <div class="marking marking-two"></div>
        <div class="marking marking-three"></div>
        <div class="marking marking-four"></div>
        <div class="inner-clock-face">
            <div class="hand hour-hand"></div>
            <div class="hand min-hand"></div>
        </div>
    </div>
</div>

<script>
  export default {
    methods: {
      getDate () {
        const now = new Date()
        const minutes = now.getMinutes()
        if (minutes < 30) {
          now.setMinutes(30)
        } else {
          now.setMinutes(0)
          now.setHours(now.getHours() + 1)
        }
        now.setSeconds(0)
        return now
      },

      setDate () {
        const minsHand = document.querySelector('.min-hand')
        const hourHand = document.querySelector('.hour-hand')

        this.set({ now: this.getDate() })

        const { minutesDegrees, hoursDegrees } = this.get()

        minsHand.style.transform = `rotate(${minutesDegrees}deg)`

        hourHand.style.transform = `rotate(${hoursDegrees}deg)`
      }
    },

    oncreate () {
      this.setDate()
      this.interval = setInterval(this.setDate.bind(this), 1000)
    },

    ondestroy () {
      clearInterval(this.interval)
    },

    data: () => ({
      now: new Date()
    }),

    computed: {
      secondsDegrees: ({ now }) => ((now.getSeconds() / 60) * 360) + 90,
      minutesDegrees: ({ now }) => ((now.getMinutes() / 60) * 360) + ((now.getSeconds() / 60) * 6) + 90,
      hoursDegrees: ({ now }) => ((now.getHours() / 12) * 360) + ((now.getMinutes() / 60) * 30) + 90
    }
  }
</script>
